@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {

  h1 {
    @apply text-4xl;
    @apply font-medium;
    font-family: "Dailymirror";
    @apply text-center;
  }
  h2 {
    @apply text-3xl;
    font-family: "Oxford";
  }
  h3 {
    @apply text-2xl;
    font-family: "Oxford";
  }
  h4 {
    @apply text-xl;
    font-family: "Oxford";
  }
  p {
    @apply text-lg;
    font-family: "Oxford";
    line-height: 1.0;
  }
}

@font-face {
  font-family: 'Oxford';
  font-weight: 400;
  src: url(./fonts/Oxford-LAqy.ttf);
}
@font-face {
  font-family: "Dailymirror";
  src: url(./fonts/Dailymirror.ttf);
}


.divider {
  border: 0.5px solid #000;
}
